{% extends 'base.html' %}
{% load static %}
{% load notifications_tags %}

{% comment %}
    Template to display all the unread notifications of the related user.
{% endcomment %}

{% block extra_css %}
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    <style>
        /* Page specific */
        .jumbotron {
            background-image: url("{% static 'img/patryk-gradys-4pPzKfd6BEg-unsplash.jpg' %}");
            background-size: cover;
        }
    </style>
{% endblock %}

{% block title %}Notifiche{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid header">
        <div class="jumbo-container cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
            {% include 'navbar.html' %}
            <h2 class="jumbo-title">Notifiche</h2>
            <p class="lead">Tutte le informazioni inerenti ai tuoi ordini.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="box-width-radius2 container-md shadow mb-3 p-3 pl-10 bg-white w-auto">
        <div class="row">
            <div class="col">
                <h4 class="font-weight-light">
                    Hai {% notifications_unread %} notifiche non lette:
                </h4>
            </div>
            <div class="col d-flex justify-content-end">
                <btn class="refresh btn btn-outline-primary"><i class="fas fa-sync"></i></btn>
            </div>
        </div>

        <hr>
        {#        {% live_notify_list list_class="list-group list-group-flush" %}#}
        <ul class="list-group list-group-flush">
            {% for notify in notifications %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-9 text-break">
                            <span>{{ notify.verb }}</span>
                            <span class="text-muted">[{{ notify.timestamp|date:'d/m/Y' }}]</span>
                        </div>
                        <div class="col-3 d-flex justify-content-end">
                            <a href="{% url 'notifications:mark_as_read' notify.slug %}" class="btn btn-sm btn-outline-info">
                                <span class="">Segna come letto</span> <i class="fas fa-check"></i>
                            </a>
                        </div>
                    </div>
                </li>
            {% empty %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p class="lead">
                        Nessuna notifica!
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        var IDS = []
        $(function () {
            $('.refresh').on('click', function () {
                location.reload();
            });
        });
        /*
        function my_special_notification_callback(data) {
            for (var i=0; i < data.unread_list.length; i++) {
                msg = data.unread_list[i];
                if (IDS.includes(msg.id)) {
                    $('.list-group').append('<li class="list-group-item d-flex justify-content-between align-items-center">'
                        + '<div>'
                        + '<span>' + msg.verb + '</span>'
                        + '</div><div>'
                        + '<a href="" class="btn btn-sm btn-outline-info">Segna come letto <i class="fas fa-check"></i></a>'
                        + '</div>'
                        + '</li>');
                    IDS.push(msg.id);
                }
                console.log(msg);
            }
        }
        */
    </script>
    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    {#    {% register_notify_callbacks callbacks='fill_notification_badge,my_special_notification_callback' %}#}
    {% register_notify_callbacks callbacks='fill_notification_badge' %}
{% endblock %}