{% extends 'base.html' %}
{% load static %}
{% load app_filters %}

{% comment %}
    Template to display the cart page.
{% endcomment %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.2.5/jquery.bootstrap-touchspin.min.css">
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    <style>
        /* Page specific */
        .jumbotron {
            background-image: url("{% static 'img/varun-tandon-NkkHNWKhDd4-unsplash.jpg' %}");
            background-size: cover;
        }
        .list-link {
            color: #777;
        }
    </style>
{% endblock %}

{% block title %}Carrello{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid header">
        <div class="jumbo-container cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
            {% include 'navbar.html' %}
            <h2 class="jumbo-title">Carrello</h2>
            <p class="lead">Preparati ad assaporare i nostri piatti, manca poco!</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include 'dishes/base/cart_modal.html' %}
    <div class="box-width-radius2 container-md shadow mb-3 pl-10 bg-white w-auto">
        <ul class="list-group list-group-flush dish-list">
            {% for item in orderitem_list %}
                {% include 'dishes/base/base_cart_item.html' with item=item dish=dishes|get_dish_from_list:forloop.counter0 %}
            {% empty %}
                <li class="dish-content list-group-item text-center">
                    <p class="lead">Nessun elemento nel carrello, visualizza il nostro menu!</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if orderitem_list %}
        {% include 'dishes/base/base_order_confirmation.html' %}
    {% endif %}
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.2.5/jquery.bootstrap-touchspin.min.js"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    {% include 'dishes/base/add_to_cart_ajax.html' %}
    {% include 'dishes/base/remove_from_cart_ajax.html' %}
    <script>
        $(function () {
            $('#deliveryType').on('change', function () {
                $('.tooltip-test').toggle()
                if ($(this).is(':checked')) {
                    $('label[for=' + $(this).attr('id') + ']').text('Consegna a domicilio');
                } else {
                    $('label[for=' + $(this).attr('id') + ']').text('Asporto');
                }
            });
        });
    </script>
{% endblock %}