{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% comment %}
    Template to display the update dish page.
{% endcomment %}

{% block title %}Modifica piatto{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    <style>
        /* Page specific */
        .jumbotron {
            background-image: url("{% static 'img/hermes-rivera-Ww8eQWjMJWk-unsplash.jpg' %}");
            background-size: cover;
        }
        #id_ingredients {
            height: 65px;
        }
    </style>
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid header">
        <div class="jumbo-container cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
            {% include 'navbar.html' %}
            <h2 class="jumbo-title">Modifica: {{ dish.name }}</h2>
            <p class="lead">Inserire tutte le informazioni richieste.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="box-width-radius2 container-md shadow p-4 mb-3 pl-10 bg-white w-auto">
        {% crispy form %}
    </div>
{% endblock %}