{% extends 'base.html' %}
{% load static %}
{% load app_filters %}

{% comment %}
    Template to display the detail of a dish.
{% endcomment %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.2.5/jquery.bootstrap-touchspin.min.css">
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    <style>
        /* Page specific */
        .jumbotron {
            background-image: url("https://res.cloudinary.com/dag3t3qu8/image/upload/q_auto/v1645219450/spooncorner/hermes-rivera-Ww8eQWjMJWk-unsplash_eanzeb.jpg");
            background-size: cover;
        }
        .dish-img {
            background-image: url('{{ dish.image.url }}');
            background-size: cover;
            background-repeat: no-repeat;
            max-width: 225px;
            overflow: hidden;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    </style>
{% endblock %}

{% block title %}Dettagli piatto{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid header">
        <div class="jumbo-container cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
            {% include 'navbar.html' %}
            <h2 class="jumbo-title">Piatto: {{ dish.name }}</h2>
            <p class="lead">Visualizza i dettagli del piatto e le recensioni di altri clienti.</p>
            {% if user.is_authenticated and user.is_manager %}
                <div class="row">
                    <div class="col d-flex justify-content-end">
                        <a href="{% url 'dishes:dish-update' dish.pk %}" class="btn btn-lg btn-info"><i class="fas fa-pen"></i> Modifica piatto</a>
                    </div>
                    <div class="col d-flex justify-content-start">
                        <a href="{% url 'dishes:dish-delete' dish.pk %}" class="btn btn-lg btn-danger"><i class="fas fa-trash"></i> Elimina piatto</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include 'dishes/base/cart_modal.html' %}
    <div class="box-width-radius2 container-md shadow mb-3 pl-10 bg-white w-auto">
        <div class="row">
            <div class="col dish-img"></div>
            <div class="col p-4 dish-content">
                <h5 class="d-flex justify-content-between">
                    <span class="dish-title">{{ dish.name }}</span>
                    <span class="d-flex justify-content-start">{{ dish.get_avg_revs }} &nbsp;<i class="fas fa-star"></i></span>
                </h5>
                <p class="price">{{ dish.price }} €</p>
                <p><strong>Ingredienti:</strong> {{ dish.ingredients }}</p>
                <p>
                    <small class="text-muted">
                        Tempo di preparazione: {{ dish.cook_time }} min
                    </small>
                </p>
                {% if user.is_authenticated %}
                    <a href="#cart-modal" class="card-link cart-link" data-toggle="modal" data-target="#cart-modal">
                        <span>Aggiungi al carrello <i class="fas fa-shopping-cart"></i></span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="box-width-radius2 container-md shadow p-4 mb-3 pl-10 bg-white w-auto">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col">
                <h4 class="font-weight-light">Recensioni</h4>
            </div>
            {% if user.is_authenticated %}
                <div class="col d-flex justify-content-end">
                    <a href="{% url 'dishes:review-add' dish.pk %}" class="btn btn-outline-primary">Scrivi una recensione <i class="fas fa-pen"></i></a>
                </div>
            {% endif %}
        </div>
        <hr>
        <ul class="list-group list-group-flush">
            {% for review in reviews %}
                <li class="list-group-item break-word">
                    {#                    <a href="{% url 'dishes:review-detail' review.pk %}" class="d-flex justify-content-between align-items-center list-link review-link">#}
                    {#                        <div>#}
                    {#                            <div>#}
                    {#                                <span>{{ review.title }} - {{ review.stars }} <i class="fas fa-star"></i></span>#}
                    {#                                <span>[ {{ review.date|date:'d/m/Y' }} ]</span>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div>#}
                    {#                            <span>Autore: {{ review.user }}</span>#}
                    {#                        </div>#}
                    {#                    </a>#}
                    <a href="{% url 'dishes:review-detail' review.pk %}" class="list-link review-link">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-lg-6 col-12">
                                <div class="row d-flex flex-column">
                                    <div class="col col-lg col-12">
                                        <span>{{ review.title }} - {{ review.stars }} <i class="fas fa-star"></i></span>
                                    </div>
                                    <div class="col col-lg col-12">
                                        <span>[ {{ review.date|date:'d/m/Y' }} ]</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-4 col-12"></div> -->
                            <div class="col-lg-6 col-12 d-flex justify-content-end">
                                <div class="row d-flex flex-column">
                                    <div class="col col-lg col-12">
                                        <span><i class="fas fa-user"></i> {{ review.user.profile.first_name }} {{ review.user.profile.last_name }}</span>
                                    </div>
                                    <div class="col col-lg col-12">
                                        <span><i class="fas fa-envelope"></i> {{ review.user }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="break-word">

                        </div>
                    </a>
                </li>
            {% empty %}
                <p>Ancora nessuna recensione!</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.2.5/jquery.bootstrap-touchspin.min.js"></script>
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}