{% extends 'base.html' %}
{% load static %}
{% load app_filters %}

{% comment %}
    Template to display the Menu page.
{% endcomment %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.2.5/jquery.bootstrap-touchspin.min.css">
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    <style>
        /* Page specific */
        .jumbotron {
            background-image: url("https://res.cloudinary.com/dag3t3qu8/image/upload/q_auto/v1645219450/spooncorner/monika-grabkowska-N-xhCO5gY7s-unsplash_w7nj43.jpg");
            background-size: cover;
        }
        .card-img {
            background-size: cover;
            max-width: 100%;
            background-repeat: no-repeat;
            overflow: hidden;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        .text{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display:block;
            width:100%;
            min-width:1px;
        }
    </style>
{% endblock %}

{% block title %}Menu{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid header">
        <div class="jumbo-container cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
            {% include 'navbar.html' %}
            <h2 class="jumbo-title">Menu</h2>
            <p class="lead">Aggiungi al carrello i piatti che preferisci.</p>
            {% if user.is_authenticated and user.is_manager %}
                <p class="lead">
                    <a href="{% url 'dishes:add-dish' %}" class="btn btn-lg btn-secondary">
                        <i class="fas fa-plus"></i> &nbsp; Crea un nuovo piatto
                    </a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include 'dishes/base/cart_modal.html' %}
    {% include 'searchbar.html' %}
    <br>
    {% if user.is_authenticated and not user.is_manager %}
        <div class="d-flex flex-column">
            <h4 class="font-weight-light">Nuovi sapori</h4>
            <span class="text-muted font-weight-light">Basati sulle tue preferenze</span>
        </div>
        {% include 'dishes/base/base_dishes_list.html' with rec='-rec' %}
        <hr>
    {% endif %}
    <div class="d-flex flex-column">
        <h4 class="font-weight-light">Menu completo</h4>
        <span class="text-muted font-weight-light">Tutte le nostre opzioni</span>
    </div>
    {% include 'dishes/base/base_dishes_list.html' with rec='' %}
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.2.5/jquery.bootstrap-touchspin.min.js"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    {% include 'dishes/base/add_to_cart_ajax.html' %}
    {% include 'dishes/base/searchbar_ajax.html' %}
{% endblock %}