{% extends 'base.html' %}
{% load static %}
{% load app_filters %}

{% comment %}
    Template to display the order recap page.
{% endcomment %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.2.5/jquery.bootstrap-touchspin.min.css">
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    <style>
        /* Page specific */
        .jumbotron {
            background-image: url("{% static 'img/foodism360-Gwak7T9evEk-unsplash.jpg' %}");
            background-size: cover;
        }
    </style>
{% endblock %}

{% block title %}Dettagli Ordine{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid header">
        <div class="jumbo-container cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
            {% include 'navbar.html' %}
            <h2 class="jumbo-title">Ecco i dettagli del tuo ordine</h2>
            <p class="lead">Verifica che le informazioni siano corrette.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="box-width-radius2 container-md shadow mb-3 pl-10 bg-white w-auto">
        <form action="{% url 'dishes:order-complete' orderheader.pk %}" method="post">{% csrf_token %}
{#        <form action="{% url 'dishes:order-complete' %}" method="post">{% csrf_token %}#}
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="lead">Tempo di preparazione:</span>
                    <span class="lead">{{ orderheader|get_preparation_time:user }} minuti</span>
                </li>
                {% if orderheader.delivery_type %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="lead">Indirizzo di consegna:</span>
                        <span class="lead">{{ user.profile.get_address }}</span>
                    </li>
                {% else %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="lead">Ritiro al ristorante</span>
                    </li>
                {% endif %}
                <li class="list-group-item">
                    <textarea class="form-control" placeholder="Hai necessità particolari? Indicale qui..." rows="3" name="notes"></textarea>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <h1 class="font-weight-light">Totale: <span id="cart-amount">{{ orderheader.amount }}</span> €</h1>
                    <input type="submit" id="confirm" class="btn btn-lg btn-info" value="Completa l'ordine" />
                </li>
            </ul>
        </form>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}
