{% extends 'base.html' %}
{% load static %}
{% load app_filters %}
{% load crispy_forms_tags %}

{% comment %}
    Template to display the order detail page.
{% endcomment %}

{% block extra_css %}
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    <style>
        /* Page specific */
        .jumbotron {
            background-image: url("{% static 'img/creatv-eight-smN1dzUTj9Y-unsplash.jpg' %}");
            background-size: cover;
        }
    </style>
{% endblock %}

{% block title %}Dettagli Ordine{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid header">
        <div class="jumbo-container cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
            {% include 'navbar.html' %}
            <h2 class="jumbo-title">Dettagli ordine: {{ orderheader.code }}</h2>
            <p class="lead">Visualizza le informazioni collegate al tuo ordine.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="box-width-radius2 container-md shadow mb-3 p-3 pl-10 bg-white w-auto">
        {% crispy form %}
    </div>
    <div class="box-width-radius2 container-md shadow mb-3 p-3 pl-10 bg-white w-auto">
        <h4 class="font-weight-light">Piatti ordinati:</h4>
        <hr>
        <ul class="list-group list-group-flush">
            {% for item in orderitems %}
                {% include 'dishes/base/base_order_list_item.html' with item=item dish=dishes|get_dish_from_list:forloop.counter0 %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
