{% extends 'base.html' %}
{% load static %}
{% load app_filters %}

{% comment %}
    Template to display the orders list page.
{% endcomment %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.2.5/jquery.bootstrap-touchspin.min.css">
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    <style>
        /* Page specific */
        .jumbotron {
            background-image: url("{% static 'img/joseph-chan-0XR9fCGTD7k-unsplash.jpg' %}");
            background-size: cover;
        }
    </style>
{% endblock %}

{% block title %}Ordini{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid header">
        <div class="jumbo-container cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
            {% include 'navbar.html' %}
            <h2 class="jumbo-title">I miei ordini</h2>
            <p class="lead">Riepilogo dei tuoi acquisti su SpoonCorner.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include 'dishes/base/cart_modal.html' %}
    <div class="box-width-radius2 container-md shadow mb-3 pl-10 bg-white w-auto">
        <ul class="nav nav-tabs nav-fill p-4" id="menu-tab" role="tablist"> <!-- tolta ckasse p-4 per mettere il div sopra -->
            <li class="nav-item" role="presentation">
                <a class="nav-link active lead" id="progress-tab" data-toggle="tab" href="#in-progress"
                   role="tab" aria-controls="progress" aria-selected="true">
                    In lavorazione
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link lead" id="complete-tab" data-toggle="tab" href="#complete"
                   role="tab" aria-controls="complete" aria-selected="false">
                    Completati
                </a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="in-progress" role="tabpanel" aria-labelledby="main-tab">
                {% include 'dishes/base/base_order_list.html' with order_list=orderheader_list|get_in_progress complete=0 %}
            </div>
            <div class="tab-pane fade" id="complete" role="tabpanel" aria-labelledby="burger-tab">
                {% include 'dishes/base/base_order_list.html' with order_list=orderheader_list|get_completed complete=1 %}
            </div>
        </div>
    </div>
{% endblock %}
