{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% comment %}
    Template to display the order complete page.
{% endcomment %}

{% block title %}Ordine completato{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <style>
        body {
            background-image: url("{% static 'img/foodism360-Gwak7T9evEk-unsplash.jpg' %}");
            background-size: cover;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
        {% include 'navbar.html' %}
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Ordine completato!</h1>
            <p class="lead">Grazie per la tua fiducia! Il tuo ordine sarà pronto il prima possibile.</p>
            <p class="lead">
                <a href="{% url 'dishes:menu' %}" class="btn btn-lg btn-secondary">Visualizza il menù</a>
            </p>
        </main>
        <footer class="mastfoot mt-auto">
        </footer>
    </div>
{% endblock %}