{% extends 'base.html' %}
{% load static %}
{% load app_filters %}
{% load crispy_forms_tags %}

{% comment %}
    Template to display the review detail page.
{% endcomment %}

{% block extra_css %}
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    <style>
        /* Page specific */
        .jumbotron {
            background-image: url("https://res.cloudinary.com/dag3t3qu8/image/upload/q_auto/v1645219450/spooncorner/hope-house-press-leather-diary-studio-PJzc7LOt2Ig-unsplash_pfmoqi.jpg");
            background-size: cover;
        }
    </style>
{% endblock %}

{% block title %}Dettagli Recensione{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid header">
        <div class="jumbo-container cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
            {% include 'navbar.html' %}
            <h2 class="jumbo-title">Recensione: {{ review.dish }}</h2>
            <p class="lead">Leggi l'esperienza degli altri utenti.</p>
            <p class="lead">
                <a href="{% url 'dishes:dish-detail' review.dish.pk %}" class="btn btn-lg btn-secondary"><i class="fas fa-arrow-left"></i> &nbsp; Indietro</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="box-width-radius2 container-md shadow mb-3 p-3 pl-10 bg-white w-auto">
        <div class="d-flex flex-column">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col">
                    <h4 class="font-weight-light">
                        {{ review.title }} - {{ review.stars }} <i class="fas fa-star"></i>
                    </h4>
                </div>
                <div class="col d-flex justify-content-end">
                    {% if review.user == user %}
                        <div>
                            <a href="{% url 'dishes:review-update' review.pk %}" class="btn btn-sm btn-info"><i class="fas fa-pen"></i></a>
                            <a href="{% url 'dishes:review-delete' review.pk %}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="font-weight-light grey-text"></span>
                    <span class="font-weight-light grey-text">{{ review.user }} [ {{ review.date|date:'d/m/Y' }} ]</span>
                </div>
            </div>

        </div>
        <hr>
        <p>
            {{ review.comment }}
        </p>
    </div>
{% endblock %}
