{% extends 'base.html' %}
{% load static %}
{% load app_filters %}

{% comment %}
    Template to display the review delete page.
{% endcomment %}

{% block extra_css %}
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    <style>
        /* Page specific */
        .jumbotron {
            background-image: url("{% static 'img/hope-house-press-leather-diary-studio-PJzc7LOt2Ig-unsplash.jpg' %}");
            background-size: cover;
        }
    </style>
{% endblock %}

{% block title %}Eliminazione recensione{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid header">
        <div class="jumbo-container cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
            {% include 'navbar.html' %}
            <h2 class="jumbo-title">Eliminazione recensione: {{ review.title }}</h2>
            <p class="lead">Perderai tutte le informazioni e le recensioni ad esso collegate.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="box-width-radius2 container-md shadow p-4 mb-3 pl-10 bg-white w-auto">
        <h1 class="font-weight-light">Sicuro di eliminare questa recensione?</h1>
        <p>Questa azione non sarà reversibile.</p>
        <form method="post">{% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Elimina">
            <a class="btn btn-success" href="{% url 'dishes:review-detail' review.pk %}">
                Annulla
            </a>
        </form>
    </div>
{% endblock %}