{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% comment %}
    Template to display the review add and update pages.
{% endcomment %}

{% block title %}
    {% if dish %}
        Nuova recensione
    {% else %}
        Modifica recensione
    {% endif %}
{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    <style>
        /* Page specific */
        .jumbotron {
            background-image: url("{% static 'img/hope-house-press-leather-diary-studio-PJzc7LOt2Ig-unsplash.jpg' %}");
            background-size: cover;
        }
        /* Stars rating */
        .rating {
            float:left;
            border:none;
        }
        .rating:not(:checked) > input {
            position:absolute;
            top:-9999px;
            clip:rect(0, 0, 0, 0);
        }
        .rating:not(:checked) > label {
            float:right;
            width:1em;
            padding:0 .1em;
            overflow:hidden;
            white-space:nowrap;
            cursor:pointer;
            font-size:200%;
            line-height:1.2;
            color:#ddd;
        }
        .rating:not(:checked) > label:before {
            content:'★ ';
        }
        .rating > input:checked ~ label {
            color: gold;
        }
        .rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
            color: gold;
        }
        .rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
            {#color: #ea0;#}
            color: gold;
        }
        .rating > label:active {
            position:relative;
        }
    </style>
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid header">
        <div class="jumbo-container cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
            {% include 'navbar.html' %}
            {% if dish %}
                <h2 class="jumbo-title">Recensione per: {{ dish.name }}</h2>
            {% else %}
                <h2 class="jumbo-title">Recensione per: {{ review.dish.name }}</h2>
            {% endif %}
            <p class="lead">Esprimi la tua esperienza.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="box-width-radius2 container-md shadow p-4 mb-3 pl-10 bg-white w-auto">
        {% crispy form %}
    </div>
{% endblock %}

{% block javascript %}
    {% if not dish %}
        <script>
            $(function () {
               $('#star' + {{ review.stars }}).prop('checked', true);
            });
        </script>
    {% endif %}
{% endblock %}