{% extends 'base.html' %}
{% load static %}
{% load app_filters %}

{% comment %}
    Template to display the search result.
{% endcomment %}

{% block extra_css %}
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    <style>
        /* Page specific */
        .jumbotron {
            background-image: url("{% static 'img/monika-grabkowska-N-xhCO5gY7s-unsplash.jpg' %}");
            background-size: cover;
        }
        .card-img {
            background-size: cover;
            max-width: 100%;
            background-repeat: no-repeat;
            overflow: hidden;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        .text{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display:block;
            width:100%;
            min-width:1px;
        }
    </style>
{% endblock %}

{% block title %}Risultati ricerca{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid header">
        <div class="jumbo-container cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
            {% include 'navbar.html' %}
            <h2 class="jumbo-title">Risultati ricerca</h2>
            <p class="lead">Ecco i piatti corrispondenti ai criteri specificati.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include 'dishes/base/cart_modal.html' %}
    {% include 'searchbar.html' %}
    <br>
    {% include 'dishes/base/base_dishes_list.html' with rec='' %}
{% endblock %}

{% block javascript %}
    {% include 'dishes/base/searchbar_ajax.html' %}
{% endblock %}