{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% comment %}
    Template to display the update email form.
{% endcomment %}

{% block title %}Modifica la tua email{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    <style>
        .jumbotron {
            background-image: url("{% static 'img/nastuh-abootalebi-yWwob8kwOCk-unsplash.jpg' %}");
            background-size: cover;
        }
    </style>
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid header">
        <div class="jumbo-container cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
            {% include 'navbar.html' %}
            <h2 class="jumbo-title">Aggiorna la tua email</h2>
            <p class="lead">Tramite email verranno comunicate le informazioni sui tuoi ordini.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include 'user_management/base/base_user_crispy_update.html' %}
{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            $('#id_email').change(function () {
                console.log($(this).val());
                $.ajax({
                    type: 'GET',
                    url: '{% url 'user_management:check-email-is-unique' %}',
                    data: {
                        'email' : $(this).val()
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.is_not_unique) {
                            $('.alert-email').show();
                            $('#submit-id-submit').hide();
                        } else {
                            $('.alert-email').hide();
                            $('#submit-id-submit').show();
                        }
                    }
                })
            })
        });
    </script>
{% endblock %}