{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% comment %}
    Template to display the update profile form.
{% endcomment %}

{% block title %}Aggiorna i dati del tuo profilo{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    <style>
        .jumbotron {
            background-image: url("{% static 'img/nastuh-abootalebi-yWwob8kwOCk-unsplash.jpg' %}");
            background-size: cover;
        }
    </style>
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid header menu">
        <div class="jumbo-container cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
            {% include 'navbar.html' %}
            <h2 class="jumbo-title">Aggiorna il tuo profilo</h2>
            <p class="lead">Contiene le tue informazioni principali, tra cui l'indirizzo di spedizione.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include 'user_management/base/base_user_crispy_update.html' %}
{% endblock %}