{% extends 'base.html' %}
{% load static %}
{% load app_filters %}

{% comment %}
    Template that displays the information about the profile of the current user.
{% endcomment %}

{% block extra_css %}
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    <style>
        .jumbotron {
            background-image: url("{% static 'img/nastuh-abootalebi-yWwob8kwOCk-unsplash.jpg' %}");
            background-size: cover;
        }
    </style>
{% endblock %}

{% block title %}Profilo{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid header">
        <div class="jumbo-container cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
            {% include 'navbar.html' %}
            <h2 class="jumbo-title">Il mio profilo</h2>
            <p class="lead">Visualizza le tue informazioni principali.</p>
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <a href="{% url 'user_management:profile-update' %}" class="btn btn-lg btn-info"><i class="fas fa-pen"></i> Modifica profilo</a>
                </div>
                <div class="col d-flex justify-content-start">
                    <a href="#myModal" class="btn btn-lg btn-danger trigger-btn"><i class="fas fa-trash"></i> Elimina account</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="box-width-radius2 container-md shadow p-4 mb-3 pl-10 bg-white w-auto">
        <div class="card-columns mt-3">

            <div class="card text-center">
                <div class="card-body">
                    <h6 class="card-title">USERNAME</h6>
                    <p class="card-text font-weight-bold">{{ user.username }}</p>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h6 class="card-title">NOME</h6>
                    <p class="card-text font-weight-bold">{{ view.profile.first_name }} {{ view.profile.last_name }}</p>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h6 class="card-title">EMAIL</h6>
                    <p class="card-text font-weight-bold">{{ user.email }}</p>
                    <a href="{% url 'user_management:user-update-email' %}" class="font-weight-bold text-info">
                        Modifica <i class="far fa-edit"></i>
                    </a>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h6 class="card-title">INDIRIZZO</h6>
                    <p class="card-text font-weight-bold">
                        {% if view.profile.street %}
                            {{ view.profile.street }} {{ view.profile.number }}, {{ view.profile.city }}
                            ({{ view.profile.province }}), {{ view.profile.zip }}, Zona {{ view.profile.zone }}
                        {% else %}
                            Nessun indirizzo registrato.
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h6 class="card-title">DATA DI ISCRIZIONE</h6>
                    <div class="container">
                        <span class="card-text font-weight-bold">{{ user.date_joined|date:'l'}}</span><br>
                        <span class="card-text font-weight-bold">{{ user.date_joined|date:'d/m/Y' }}</span>
                    </div>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title"># ORDINI FATTI</h5>
                    <p class="card-text font-weight-bold">{{ user.profile.get_orders_count }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal HTML for deleting user account-->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Eliminare questo account?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>
                        Questa azione non sarà reversibile. Oltre all'account verranno cancellati tutti i dati ad esso collegati.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Annulla</button>
                    <a id="delete-user-button" type="button" class="btn btn-danger"
                       href="{% url 'user_management:user-delete' %}">Elimina</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            $('.trigger-btn').on('click', function () {
                $('#myModal').modal('show');
            })
        });
    </script>
{% endblock %}