{% extends 'base.html' %}
{% load static %}

{% block title %}Disconnesso{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
        {% include 'navbar.html' %}
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Sei uscito correttamente</h1>
            <p class="lead">Da questo momento non potrai effettuare nuovi ordini.</p>
            <p class="lead">
                <a href="{% url 'homepage' %}" class="btn btn-lg btn-secondary">Torna alla home</a>
            </p>
        </main>
        <footer class="mastfoot mt-auto">
        </footer>
    </div>
{% endblock %}