{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Accedi{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <style>
        .alert {
            text-shadow: none;
            text-align: left;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
        {% include 'navbar.html' %}
        <main role="main" class="inner cover">
            {% crispy form %}
        </main>
        <footer class="mastfoot mt-auto">
        </footer>
    </div>
{% endblock %}