{% extends 'base.html' %}
{% load static %}

{% block title %}Reset password{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <style>
        body {
            background-image: url("{% static 'img/scott-webb-yekGLpc3vro-unsplash.jpg' %}");
            background-size: cover;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
        {% include 'navbar.html' %}
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Nuova password aggiornata</h1>
            <p class="lead">La tua nuova password è stata impostata.</p>
            <p class="lead">
                <a href="{% url 'user_management:login' %}" class="btn btn-lg btn-secondary">Accedi</a>
            </p>
        </main>
        <footer class="mastfoot mt-auto">
        </footer>
    </div>
{% endblock %}