{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Inserisci una nuova password{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <style>
        body {
            background-image: url("{% static 'img/scott-webb-yekGLpc3vro-unsplash.jpg' %}");
            background-size: cover;
        }
        #hint_id_new_password1 {
            color: white !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
        {% include 'navbar.html' %}
        <main role="main" class="inner cover">
            {% if validlink %}
                <h1 class="cover-heading">Inserisci una nuova password</h1>
                <p class="lead">
                    Verrà utilizzata dal prossimo Log In.
                </p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-info" value="Cambia password">
                </form>
            {% else %}
                <p class="lead">Il link di reimpostazione della password non era valido, probabilmente perché è già stato utilizzato.
                    Si prega di richiedere una nuova reimpostazione della password.
                </p>
            {% endif %}
        </main>
        <footer class="mastfoot mt-auto">
        </footer>
    </div>
{% endblock %}