{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Password dimenticata?{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <style>
        body {
            background-image: url("{% static 'img/scott-webb-yekGLpc3vro-unsplash.jpg' %}");
            background-size: cover;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
        {% include 'navbar.html' %}
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Inserisci la tua email</h1>
            <p class="lead">Tramite email verrà fornito il link per resettare la password.</p>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-info" value="Conferma">
            </form>
        </main>
        <footer class="mastfoot mt-auto">
        </footer>
    </div>
{% endblock %}