.header {
    padding-top: 16px !important;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    color: #fff;
}

.jumbo-container {
    padding-bottom: 100px !important;
}

.jumbo-title {
    margin-top: 60px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: .25rem solid #f5a637;
    color: #151515 !important;
}

#menu-tab {
    border: none;
}
#menu-tab a {
    color: #777;
}
#menu-tab a:hover {
    color: #151515 !important;
}

.dish {
    border: none;
}

.card {
    color: #777;
}

.card-link {
    color: #777;
}

.card-link:hover {
    color: #151515 !important;
}

body {
    background-color: #f2f2f2;
}

.border-item {
    margin-right: 10px;
}
