html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.cover-container {
    max-width: 42em;
}

/*
* Header
*/
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.masthead-brand:hover {
    text-decoration: none !important;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}

.masthead a,
.masthead a:focus,
.masthead a:hover {
    color: #fff;
}

.box-width-radius2 {
    margin: 20px auto;
    border-radius: 10px;
}

.asteriskField {
    margin-left: 3px;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

.btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.search-input {
    border-left: none;
}

.search-results {
    background-color: white;
    border: 1px solid #ced4da;
    border-top: none;
    padding-left: 52px;
    padding-top: 10px;
    display: none;
}

.search-results a {
    color: #777;
    text-decoration: none;
    padding-bottom: 10px;
}

.search-results a:hover {
    color: #151515 !important;
}

.touchspin {
    width: 200px;
}

.grey-text {
    color: #777777;
}

.fa-star {
    color: gold;
}

.list-link {
    color: #777;
    text-decoration: none !important;
}

.list-link:hover {
    color: black;
}

.bg-grey {
    background-color: #777777 !important;
}

.break-word {
    word-break: break-all !important;
}