{% load crispy_forms_tags %}

{% comment %}
    Template used to display the profile and user update forms.
{% endcomment %}

<div class="box-width-radius2 container-md shadow p-4 mb-3 pl-10 bg-white w-auto">
    <div class="alert alert-danger alert-email" role="alert" style="display: none">
        Email già utilizzata!
    </div>
    {% crispy form %}
</div>