{% extends 'base.html' %}
{% load static %}

{% comment %}
    Template to display the Home page.
{% endcomment %}

{% block extra_css %}
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
        {% include 'navbar.html' %}
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Benvenuto su Spoon Corner</h1>
            <p class="lead">Il cibo a casa, come non lo hai mai visto.</p>
            <p class="lead">
                <a href="{% url 'dishes:menu' %}" class="btn btn-lg btn-secondary">Visualizza il menù</a>
            </p>
        </main>
        <footer class="mastfoot mt-auto">
        </footer>
    </div>
{% endblock %}