{% comment %}
    Template to display the navbar of the website.
{% endcomment %}

{% load notifications_tags %}

<header class="masthead mb-auto">
    <div class="inner">
        <a href="{% url 'homepage' %}" class="h3 masthead-brand">Spoon Corner</a>
        <nav class="nav nav-masthead justify-content-center">
            {#            <a id="Home" class="nav-link" href="{% url 'homepage' %}">Home</a>#}
            <a id="Menu" class="nav-link" href="{% url 'dishes:menu' %}">Menu</a>
            {% if not user.is_authenticated %}
                <a id="Accedi" class="nav-link" href="{% url 'user_management:login' %}">Accedi</a>
            {% else %}
                <a id="Ordini" class="nav-link" href="{% url 'dishes:order-list' %}">Ordini</a>
                {% if not user.is_manager %}
                    <a id="Profilo" class="nav-link" href="{% url 'user_management:profile' %}">Profilo</a>
                {% endif %}
                <a id="Notifiche" class="nav-link" href="{% url 'notifications:unread' %}">
                    <i class="fas fa-bell"></i>
                    {% live_notify_badge badge_class="badge badge-pill badge-light" %}
                </a>
                {% if not user.is_manager %}
                    <a id="Carrello" class="nav-link" href="{% url 'dishes:cart' %}"><i class="fas fa-shopping-cart"></i> <span class="badge badge-pill badge-light"></a>
                {% endif %}
                <a id="Esci" class="nav-link" href="{% url 'user_management:logout' %}"><i class="fas fa-sign-out-alt"></i></a>
            {% endif %}
        </nav>
    </div>
</header>