{% comment %}
    Template to display the searchbar of the Menu page.
{% endcomment %}

<form action="{% url 'dishes:dish-search-view' %}" method="get">
    <div class="input-group md-form form-sm form-1 pl-0">
        <div class="input-group-prepend">
    <span class="input-group-text bg-white" id="basic-text1"><i class="fas fa-search"
                                                                aria-hidden="true"></i></span>
        </div>
        <input class="form-control my-0 py-1 search-input" type="search" placeholder="Cerca un piatto"
               aria-label="Cerca un piatto" name="search" autocomplete="off">
    </div>
</form>
<div class="search-results">
</div>