{% comment %}
    Base template to display an order item inside the order detail page.
{% endcomment %}

<li class="list-group-item d-flex justify-content-between align-items-center">
    <a href="{% url 'dishes:dish-detail' dish.pk %}" class="list-link">
    <div>
        <span><span class="item-pieces">{{ item.pieces }}</span>x &nbsp;</span>
        <span>{{ dish.name }}</span>
    </div>
    </a>
    <div class="d-flex align-items-center">
        <span class="price text-muted">{{ item.price }} €</span> &nbsp;&nbsp;
        <a href="{% url 'dishes:review-add' dish.pk %}" class="btn btn-outline-primary">Scrivi una recensione <i class="fas fa-pen"></i></a>
    </div>
</li>