{% comment %}
    Base template to display an item inside the cart list in the Cart page.
{% endcomment %}

<li class="dish-content list-group-item">
    <div class="row">
        <div class="col d-flex align-items-center">
            <a href="#cart-modal" class="btn btn-transparent list-link cart-link">
                <i class="fas fa-pen"></i>
            </a>
            &nbsp;
            <span class="text-muted"><span class="item-pieces">{{ item.pieces }}</span>x &nbsp;</span>
            <span class="dish-title">{{ dish.name }}</span>
            <span class="dish-pk" style="display: none">{{ dish.pk }}</span>
        </div>
        <div class="col d-flex align-items-center justify-content-end">
            <span class="price">{{ item.price }} €</span>&nbsp;
            <a href="#delete" class="btn btn-transparent list-link cart-remove">
                <i class="fas fa-trash"></i>
                <span class="item-pk" style="display: none">{{ item.pk }}</span>
            </a>
        </div>
    </div
</li>