{% comment %}
    Base template to display all the dishes inside a given category in the Menu and Search Results pages.
{% endcomment %}

<div class="row row-cols-2 pt-3">
    {% for dish in dish_list %}
        <div class="col">
            <div class="shadow card mb-3" style="max-width: 540px; border: none;">
                <div class="row no-gutters">
                    <div class="col-md-4 card-img" style="background-image: url('{{ dish.image.url }}');">
                    </div>
                    <div class="col-md-8 pl-2">
                        <div class="card-body dish-content">
                            <div class="row d-flex align-items-start justify-content-between">
                                <a href="{% url 'dishes:dish-detail' dish.pk %}" class="card-link">
                                    <h5 class="card-title dish-title text text-wrap">{{ dish.name }}</h5>
                                </a>
                                <span class="border-item">
                                    {{ dish.get_avg_revs }} &nbsp;<i class="fas fa-star"></i>
                                </span>
                            </div>
                            <div class="row"><p class="card-text ingredients text font-weight-light">{{ dish.ingredients }}</p></div>
                            <div class="row">
                                <p class="card-text">
                                    <small class="text-muted">
                                        Tempo di preparazione: {{ dish.cook_time }} min
                                    </small>
                                </p>
                            </div>
                            <div class="row mt-2 d-flex justify-content-between">
                                <span class="price">{{ dish.price }} €</span>
                                {% if user.is_authenticated %}
                                    <a href="#cart-modal" class="cart-link card-link border-item"> <!-- data-toggle="modal" data-target="#cart-modal">-->
                                        <span>Aggiungi al carrello <i class="fas fa-shopping-cart"></i></span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col-lg text-center">
            <p class="lead">Nessun piatto per ora!</p>
        </div>
    {% endfor %}
</div>
