{% comment %}
    Base template to display the order confirmation footer inside the cart page, only if the cart has one item at least.
{% endcomment %}

<div class="confirmation-div box-width-radius2 container-md shadow p-4 mb-3 pl-10
            bg-white w-auto">
    <form action="{% url 'dishes:order-recap' orderheader.pk %}" method="post">{% csrf_token %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <h4 class="font-weight-light">Tipo di consegna:</h4>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <div class="custom-control custom-switch">
                            {% if user.profile.get_address %}
                                <input type="checkbox" class="custom-control-input delivery-option switch switch-lg" id="deliveryType" name="deliveryType" checked>
                                <label class="custom-control-label " for="deliveryType">Consegna a domicilio</label>
                                <i class="fas fa-info-circle tooltip-test" title="{{ user.profile.get_address }}"></i>
                            {% else %}
                                <input type="checkbox" class="custom-control-input delivery-option" id="deliveryType" name="deliveryType" disabled>
                                <label class="custom-control-label" for="deliveryType">Asporto</label>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <h1 class="font-weight-light">Totale: <span id="cart-amount">{{ amount }}</span> €</h1>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <input type="submit" id="confirm" class="btn btn-lg btn-info" value="Conferma l'ordine"/>
                    </div>
                </div>
            </li>
        </ul>
    </form>
</div>