{% comment %}
    Base template to display the tab menu with all the categories inside the Menu and Search results pages.
{% endcomment %}

<ul class="nav nav-tabs nav-fill mt-2" id="menu-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active lead" id="main-tab{{ rec }}" data-toggle="tab" href="#main-dish{{ rec }}" role="tab" aria-controls="main" aria-selected="true">Piatti principali</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link lead" id="burger-tab{{ rec }}" data-toggle="tab" href="#burger{{ rec }}" role="tab" aria-controls="burger" aria-selected="false">Burger</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link lead" id="side-tab{{ rec }}" data-toggle="tab" href="#side{{ rec }}" role="tab" aria-controls="side" aria-selected="false">Contorni</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link lead" id="dessert-tab{{ rec }}" data-toggle="tab" href="#dessert{{ rec }}" role="tab" aria-controls="dessert" aria-selected="false">Dessert</a>
    </li>
</ul>
<div class="tab-content mb-2" id="myTabContent">
    <div class="tab-pane fade show active" id="main-dish{{ rec }}" role="tabpanel" aria-labelledby="main-tab">
        {% if rec %}
            {% include 'dishes/base/base_category_list.html' with dish_list=dish_list|get_main_dishes|exclude_ordered_dishes:user %}
        {% else %}
            {% include 'dishes/base/base_category_list.html' with dish_list=dish_list|get_main_dishes %}
        {% endif %}
    </div>
    <div class="tab-pane fade" id="burger{{ rec }}" role="tabpanel" aria-labelledby="burger-tab">
        {% if rec %}
            {% include 'dishes/base/base_category_list.html' with dish_list=dish_list|get_burgers|exclude_ordered_dishes:user %}
        {% else %}
            {% include 'dishes/base/base_category_list.html' with dish_list=dish_list|get_burgers %}
        {% endif %}
    </div>
    <div class="tab-pane fade" id="side{{ rec }}" role="tabpanel" aria-labelledby="side-tab">
        {% if rec %}
            {% include 'dishes/base/base_category_list.html' with dish_list=dish_list|get_sides|exclude_ordered_dishes:user %}
        {% else %}
            {% include 'dishes/base/base_category_list.html' with dish_list=dish_list|get_sides %}
        {% endif %}
    </div>
    <div class="tab-pane fade" id="dessert{{ rec }}" role="tabpanel" aria-labelledby="dessert-tab">
        {% if rec %}
            {% include 'dishes/base/base_category_list.html' with dish_list=dish_list|get_desserts|exclude_ordered_dishes:user %}
        {% else %}
            {% include 'dishes/base/base_category_list.html' with dish_list=dish_list|get_desserts %}
        {% endif %}
    </div>
</div>