{% comment %}
    Base template that represent a list of orders.
{% endcomment %}

<ul class="list-group list-group-flush">
    {% for order in order_list %}
        <li class="list-group-item">
            <a href="{% url 'dishes:order-detail' order.pk %}" class="list-link d-flex justify-content-between align-items-center">
                <span class="order-code btn btn-outline-secondary btn-sm">{{ order.code }}</span>
                {% if complete %}
                    <span class="badge badge-pill badge-success">{{ order.get_lexical_state }}</span>
                {% else %}
                    <span class="badge badge-pill badge-info">{{ order.get_lexical_state }}</span>
                {% endif %}
            </a>
        </li>
    {% empty %}
        <li class="list-group-item text-center">
            <p class="lead">Nessun ordine presente.</p>
        </li>
    {% endfor %}
</ul>
