{% comment %}
    Template that displays the modal from which a user can add a dish to the cart.
{% endcomment %}

<div class="modal fade" id="cart-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title grey-text" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <input type="text" class="form-control items-number text-center" value="1" id="item-pieces">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancella</button>
                <button type="button" class="btn btn-info amount">Totale</button>
            </div>
        </div>
    </div>
</div>