{% comment %}
    Base template to insert the remove from cart ajax request.
{% endcomment %}

<script>
    $(function () {
        $('.cart-remove').on('click', function () {
            let $listElement = $(this).closest('.dish-content');
            let dishPrice = parseFloat($(this).closest('.dish-content').find('.price').text()).toFixed(2);
            let amount = parseFloat($('#cart-amount').text()).toFixed(2)
            console.log('dish price: ' + dishPrice, 'amount: ' + amount);
            let newAmount = (amount - dishPrice).toFixed(2);

            $.ajax({
                type: 'POST',
                url: "{% url 'dishes:remove-from-cart' %}",
                data: {
                    'item_pk': $(this).find('.item-pk').text(),
                },
                headers:{
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    $listElement.remove();
                    if (!$('.dish-list').children().length) {
                        $('.dish-list').append('<li class="dish-content list-group-item text-center">'
                            + '<p class="lead">Nessun elemento nel carrello, visualizza il nostro menu!</p>'
                            + '</li>');
                        $('.confirmation-div').hide().removeClass('d-flex');
                    }
                    $('#cart-amount').text(newAmount.replace('.', ','));
                    getItemsNumberAjax();
                }
            });
        })
    });
</script>