{% comment %}
    Base template to insert the search dishes ajax request.
{% endcomment %}

<script>
    $(function () {
        $('.search-input').on('keyup', function () {
            if ($(this).val() !== '') {
                $.ajax({
                    type: 'GET',
                    url: '{% url 'dishes:dish-search' %}',
                    data: {
                        'query': $(this).val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        let length = data.results_dishes.length;
                        let $resultsContainer = $('.search-results');
                        $resultsContainer.empty();
                        if (length > 0) {
                            for (let i = 0; i < length; i++) {
                                let dish_link = '<a href="/dishes/dish/' + data.results_dishes[i].id
                                    + '/detail" class="result-link">'
                                    + '<i class="fas fa-search" aria-hidden="true"></i> &nbsp; '
                                    + data.results_dishes[i].name + '</a>'
                                $resultsContainer.append(dish_link);
                            }
                            $resultsContainer.addClass('d-flex flex-column');
                            $resultsContainer.show();
                        } else {
                            $resultsContainer.removeClass('d-flex flex-column');
                            $resultsContainer.hide();
                        }
                    }
                });
            } else {
                let $resultsContainer = $('.search-results');

                $resultsContainer.empty()
                $resultsContainer.removeClass('d-flex flex-column');
                $resultsContainer.hide();
            }
        });
    });
</script>