{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% comment %}
    Template to display the profile registration form.
{% endcomment %}

{% block title %}Completa la tua registrazione{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {% include 'navbar.html' %}
        <main role="main" class="inner cover">
            {% crispy form %}
        </main>
        <footer class="mastfoot mt-auto">
        </footer>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            $('#submit-id-submit').parent().addClass('text-center');
        });
    </script>
{% endblock %}