{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% comment %}
    Template to display the user registration form.
{% endcomment %}

{% block title %}Registrazione{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <style>
        .form-text {
            color: white !important;
        }
        .alert {
            text-shadow: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {% include 'navbar.html' %}
        <main role="main" class="inner cover">
            <div class="alert alert-danger alert-email text-center" role="alert" style="display: none">
                Email già utilizzata nel sistema!
            </div>
            <div class="alert alert-danger alert-username text-center" role="alert" style="display: none">
                Nome utente già utilizzato nel sistema!
            </div>
            <div class="alert alert-warning text-center" role="alert">
                Al termine della registrazione verrà inviata una email di conferma.
            </div>
            {% crispy form %}
        </main>
        <footer class="mastfoot mt-auto">
        </footer>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            // check if the username is unique
            $('#id_username').change(function () {
                $.ajax({
                    type: 'GET',
                    url: '{% url 'user_management:check-username-unique' %}',
                    data: {
                        'username' : $(this).val()
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.is_not_unique) {
                            $('.alert-username').show();
                            $('#submit-id-submit').hide();
                        } else {
                            $('.alert-username').hide();
                            if ($('.alert-email').css('display') === 'none')
                                $('#submit-id-submit').show();
                        }
                    }
                });
            });
            // check if the email is unique
            $('#id_email').change(function () {
                console.log($(this).val());
                $.ajax({
                    type: 'GET',
                    url: '{% url 'user_management:check-email-is-unique' %}',
                    data: {
                        'email' : $(this).val()
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.is_not_unique) {
                            $('.alert-email').show();
                            $('#submit-id-submit').hide();
                        } else {
                            $('.alert-email').hide();
                            if ($('.alert-username').css('display') === 'none')
                                $('#submit-id-submit').show();
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}